.header {
    background-color: blue !important;
    justify-content: center;
    line-height: 40px;
    font-size: 30px;
}

.search-card {
    padding: 10px;
}

.search-card:hover {
    cursor: pointer;
}

#clear {
    transform: translateX(50%);
    margin-bottom: 10px;
    margin-top: 20px;
}

.uv-index {
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.five-day {
    margin-top: 10px;
}

.forecast-date {
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.forecast-card {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}